<mat-list role="list">
  <mat-list-item role="listitem">
    All functionality that is preasent in "Service Demo Component"
    should be implemented/fixed in "NgRx Demo Component". (exept Transaction table)
  </mat-list-item>
  <mat-list-item role="listitem">
    Move the transaction table from the "Service Demo Component"
    to the drawer/side panel, that is opened when the Rocket button is pressed.
  </mat-list-item>
  <mat-list-item role="listitem">
    "Service Demo Component" and "NgRx Demo Component" should send their State Mutations to the transaction table.
  </mat-list-item>
</mat-list>